@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin-top: 0px;
    width: 1513px;
}

.header {
    width: 1513px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header-up {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-up-left {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-top: 0px;
    margin-bottom: -5px;
}

#text-1 {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat';
}

#text-1-1 {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat';
    text-decoration: none;
}

#text-1-1:hover {
    color: #1EA9F1;
}

#text-2 {
    color: #838383;
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Montserrat';
}

#space {
    margin-right: 10px;
}

#space-2 {
    margin-right: 40px;
}

#text-3 {
    color: #838383;
    font-size: 32px;
    font-family: 'Montserrat';
    text-decoration: none;
}

#header-bottom {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 5px;  
    justify-content: space-between; 
}

#text-4 {
    color: #838383;
    font-size: 23px;
    font-family: 'Montserrat';
}

#text-5 {
    color: #838383;
    font-size: 15px;
    margin-left: 70px;
    margin-right: 120px;
    font-family: 'Montserrat';
}

.btn {
    width: 144px;
    height: 66px;
    background-color: #2FDDF5;
    border-radius: 28px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    border: none;
}

.btn:hover {
    background-color: #1EA9F1;
}

#ukraine-icon {
    margin-right: 25px;
    margin-left: -40px;
}

.conteiner-1 {
    width: 1513px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

#conteiner-1 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

#for-text-6 {
    background-color: #f2f2f2;
    text-align: center;   
}

#text-6-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 49px;
    color: black;
}

#text-6-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.podcast {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#podcast {
    margin-top: 20px;
    width: 270px;
    height: 425px;
    text-align: center;
    align-content: space-between;
}

#podc-img {
    width: 270px;
    height: 266px;
}

#text-7 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: black;
}

#for-btn-1 {
    padding-top: 33px;
}

.btn-1 {
    width: 120px;
    height: 35px;
    background: linear-gradient(90deg, #1FAFF9 0%, #2FDDF5 100%);
    box-shadow: 0px 10px 36px 1.1px #F5F5F5;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
}

.btn-1:hover {
    background: linear-gradient(90deg, #2FDDF5 0%, #1FAFF9 100%);
}

#for-btn-2 {
    background-color: #f2f2f2;
    text-align: center;
    height: 100px;
    padding-bottom: 75px;
}

.btn-2 {
    width: 129.05px;
    height: 46.03px;
    background: #FFFFFF;
    box-shadow: 0px 10px 36px 1.1px #E9E9E9;
    border-radius: 28px;
    border: 1px solid black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
    border: none;
    margin-bottom: 50px;
}

.btn-2:hover {
    border: 1px solid #777777;
}

.footer {
    width: 1513px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer-up {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#text-8 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: black;
    text-decoration: none;
}

#text-8-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: black;
    text-decoration: none;
}

#text-8-1:hover {
    color: #1EA9F1;
}

#footer-bottom {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#text-9-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: black;
}

#text-9-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: black;
}